.progress-bar
{
    animation: load 2s normal forwards;
}

.progress-bar > div
{
    display: inline-block;
}

@keyframes load 
{
    0% { width: 0; }
    100% { width: 100%; }
}

.parent-bar {
    border: solid 1px #000000;
}